<nav class="navbar navbar-dark navbar-expand-lg">
    <footer id="sticky-footer" class="py-4 bg-primary text-white-50">
        <div class="d-flex justify-content-between align-items-center">
            <div>
                Copyright © 2020 All Rights Reserved
            </div>
            
            <div>
                
                    Designed & Developed for<a href="https://UpGrad.com" target="blank" class="btn btn-link" role="button">upGrad</a>
            </div>
        </div>

    </footer>
</nav>